PORT=3000
APP_URL=http://localhost:3000
SHOPIFY_WEBHOOK_SECRET=
SHOPIFY_SHOP_DOMAIN=
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-10
ECOM_API_BASE_URL=https://ecom-dz.com/api_v2
ECOM_API_KEY=
ECOM_API_TOKEN=
ECOM_CREATE_SHIPMENT_PATH=/shipments
WHATSAPP_GRAPH_URL=https://graph.facebook.com
WHATSAPP_API_VERSION=v23.0
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_CONFIRMED=order_confirmed
WHATSAPP_TEMPLATE_SHIPPED=order_shipped
